{% extends "base.html" %}

{% block title %}Hvahoot - Hjem{% endblock %}

{% block content %}
<header>
    <h1>Velkommen til Hvahoot!</h1>
</header>
<main>
    {% if 'user_id' not in session %}
        <form method="POST" action="{{ url_for('login') }}">
            <label>Username:</label>
            <input type="text" name="username" required>
            
            <label>Password:</label>
            <input type="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
        
        <a href="{{ url_for('guest') }}">
            <button>Continue as Guest</button>
        </a>
    {% else %}
        <p>Du er logget inn som {{ session.get('username', 'Guest bruker') }}</p>
        <a href="{{ url_for('logout') }}"><button>Logg ut</button></a>
    {% endif %}

    <p>Test kunnskapene dine i spennende quizer og sammenlign resultatene dine med andre!</p>

    <h2>Tilgjengelige Quizzes</h2>
    <ul>
        {% for quiz in quizzes %}
            <li><a href="{{ url_for('quiz', quiz_id=quiz[0]) }}">{{ quiz[1] }}</a></li>
        {% endfor %}
    </ul>
</main>
{% endblock %}