<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg inn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Logg inn til Hvahoot</h1>
    </header>

    <main>
        <form method="POST">
            <label for="username">Brukernavn:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Passord:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Logg inn</button>
        </form>

        <p>Har du ikke en konto? <a href="{{ url_for('register') }}">Registrer deg her</a>.</p>

        <hr>

        <!-- Guest Button -->
        <a href="{{ url_for('guest') }}">
            <button>Fortsett som gjest</button>
        </a>
    </main>
</body>

</html>