{% extends "base.html" %}

{% block title %}Hvahoot - Quiz{% endblock %}

{% block content %}
<link rel="icon" type="" href="../static/HvaHoot_logo.png">
<main id="quiz-container" data-quiz-id="{{ quiz_id }}">
    <h2>Quiz</h2>
    <div id="questions-container">
        {% for question in questions %}
        <div class="question" data-question-id="{{ question[0] }}">
            <p>{{ question[1] }}</p>
            <button class="option" onclick="answer('{{ question[0] }}', 1)">{{ question[2] }}</button>
            <button class="option" onclick="answer('{{ question[0] }}', 2)">{{ question[3] }}</button>
            <button class="option" onclick="answer('{{ question[0] }}', 3)">{{ question[4] }}</button>
            <button class="option" onclick="answer('{{ question[0] }}', 4)">{{ question[5] }}</button>
        </div>
        {% endfor %}
    </div>
    <button onclick="submitQuiz()">Send inn Quiz</button>
</main>
{% endblock %}