{% extends "base.html" %}

{% block title %}Poengtavle{% endblock %}

{% block content %}

<link rel="icon" type="" href="../static/HvaHoot_logo.png">
<main>
    <h2>Poengtavle</h2>
    <table id="scoreboard">
        <tr>
            <th>Bruker</th>
            <th>Quiz</th>
            <th>Poeng</th>
        </tr>
        {% for username, quiz, points in scores %}
        <tr>
            <td>{{ username }}</td>
            <td>{{ quiz }}</td>
            <td>{{ points }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}